* {
    box-sizing: border-box;
    overflow: hidden;
}

#top-bar {
    position: absolute;
    top: 0%;
    background: rgb(161, 17, 60);
    height: 6vh;
    width: 100vw;
    color: #ccc;
    padding: 0px;
    margin: 0px;
    z-index: 2;
    box-shadow: #ccc .1em .1em;
}

.side-bar {
    position: absolute;
    top: 5vh;
    width: 30vw;
    height: 80vh;
    float: left;
    background: rgb(161, 17, 60);
}
/* background: rgb(161, 17, 60); */

.side-bar ul {
    position: relative;
    width: inherit;
    list-style-type: none;
    font-size: 2.5em;
    padding: 0px;
}

.side-bar ul li {
    border-bottom: solid .01em #ccc;
    border-top: solid .01em #ccc;
    margin: 0px;
    text-align: left;
}

.side-bar ul li a img {
    height: 4vh;
    width: 1.3vw;
    float: right;
}

.side-bar a {
    text-decoration: none;
    color: beige;
}

#display-picture {
    margin-top: .75vh;
    margin-left: 1vw;
    float: left;
    height: 20vh;
    border-radius: 50%;
}

.container {
    position: absolute;
    top: 6.2vh;
    right: .2vw;
    width: 69vw;
    height: 80vh;
}

.container #top h1 {
    padding-top: 5%;
    padding-left: 1.2em;
}

.container #content {
    display: block;
    padding-left: 3em;
    font-size: 1.1em;
    list-style: initial;
    overflow: scroll;
}

a {
    text-decoration: none;
    color: rgb(30, 103, 128);
}

.container #top {
    height: 22.5vh;
    border: .3vw solid gray;
    border-radius: 4vh;
    width: 100%;
    display: flex;
    align-content: left;
}

.container ul, .container ol{
    list-style-type: disc;
    list-style-position: inside;
}

footer a {
    text-decoration: none;
    color: lightblue;
}

footer img {
    height: 4vh;
    width: 2vw;
}

footer {
    height: 15vh;
    width: 100vw;
    font-size: 2em;
    background: #030303;
    color: #fff;
    text-align: center;
    padding-top: 2em;
    position: relative;
    bottom: 0%;
}

@media(max-width:720px) {
    *{
        box-sizing: border-box;
    }
    #top-bar {
        position: relative;
        top: 0vh;
        width: 100vw;
        height: 6vh;
        background: #030303;
        color: #ccc;
    }
    
    .side-bar {
        position: relative;
        top: 0vh;
        width: 100vw;
        height: auto;
        font-size: .75em;
    }
    
    .side-bar ul li {
        display: inline-block;
        list-style: none;
        border:none;
    }
    
    .sidebar ul:first-child{
        padding-left: .1em;
    }

    .side-bar img {
        display: none;
    }
    
    .container {
        width: 98vw;
        position: relative;
        top: 2vh;
        left: 1vw;
        overflow-y: scroll;
        word-wrap: break-word;
        height:70.5vh;  
    }
    
    .container #top img{
        position:relative;
        top:.35rem;
    }

    .container #top h1{
        position: relative;
        top:1.65rem ;
    }

    .container #content{
        display: block;
        width:100rem;
        text-align: left; 
        padding: 0px;
        height: auto;
        overflow: scroll;
    }
    
    footer {
        width:100vw;
        height: 10vh;
        color: #fff;
        font-size: 1.5rem;
    }

    footer img{
        display:none;
    }

    footer span::before{
        content:"No ";
    }
}
